<h2 class="center">Get an OLC Shortcode</h2>
<h3 class="center">Find the desired functionality ..</h3>
<h4 class="center">Then.. Paste in desired content</h4>
    <h4 class="center">Then.. Click copy to clipboard to get a formatted text block</h4>
<div class="row">
    <div class="large-2 small-6 columns">
        <label class="center">Inst. Members Only</label>
        <input type="text" onkeyup="getShortcode()" id="shortinp" value="" >
        <input type="text" id="instmember" readonly>
        <button class="btn-primary block" data-clipboard-target="#instmember">
            Copy to Clipboard
        </button>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center">Pro Members Only</label>
        <input type="text" onkeyup="getShortcode()" id="shortinp2" value="" >
        <input type="text" id="promember" readonly>
        <button class="btn-primary block" data-clipboard-target="#promember">
            Copy to Clipboard
        </button>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center">Community Members Only</label>
        <input type="text" onkeyup="getShortcode()" id="shortinp3" value="" >
        <input type="text" id="commember" readonly>
        <button class="btn-primary block" data-clipboard-target="#commember">
            Copy to Clipboard
        </button>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center">Non-Members Only</label>
        <input type="text" onkeyup="getShortcode()" id="shortinp4" value="" >
        <input type="text" id="nonmember" readonly>
        <button class="btn-primary block" data-clipboard-target="#nonmember">
            Copy to Clipboard
        </button>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center">Paying Members Only</label>
        <input type="text" onkeyup="getShortcode()" id="shortinp5" value="" >
        <input type="text" id="paymember" readonly>
        <button class="btn-primary block" data-clipboard-target="#paymember">
            Copy to Clipboard
        </button>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center">Non Paying Members</label>
        <input type="text" onkeyup="getShortcode()" id="shortinp6" value="" >
        <input type="text" id="nopaymember" readonly>
        <button class="btn-primary block" data-clipboard-target="#nopaymember">
            Copy to Clipboard
        </button>
    </div>
</div>