<section id="venue" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow fadeInLeft col-md-offset-1 col-md-5 col-sm-8" data-wow-delay="0.9s">
                <h2>Venue</h2>
                <p>Located just steps away from New Orleans’ famed French Quarter, this hotel offers easy access to shopping, restaurants and entertainment like no other.</p>
                <h4><a href="http://www.sheratonneworleans.com/" target="_blank">Sheraton New Orleans Hotel</a></h4>
                <h4>500 Canal Street</h4>
                <h4>New Orleans, LA 70130</h4>
                <h4><a href="tel:1-888-627-7033">1-888-627-7033</a></h4>
            </div>

        </div>
    </div>
</section>